<footer class="footer">
    <img class="logo" src="../../assets/logo.png" alt="">

    <ul class="socials d-flex">
        <img src="../../assets/icon-facebook.svg" alt="">
        <img src="../../assets/icon-twitter.svg" alt="">
        <img src="../../assets/icon-pinterest.svg" alt="">
        <img src="../../assets/icon-instagram.svg" alt="">
    </ul>
    <ul class="secondary-navigation d-flex">
        <li>About</li>
        <li>Careers</li>
        <li>Events</li>
        <li>Products</li>
        <li>Support</li>
    </ul>
    <p>Ⓒ 2022 RESTURANT BAR & LOUNGE. All rights reserved</p>

</footer>